/* ACLARATION: this code was made with scss (sass) and then turned into a css code*/

/* first parameters */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #f2f2f2;
}

/* Desktop Design */

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 900px;
  min-height: 500px;
  overflow: hidden;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 500px;
  color: #f2f2f2;
  padding: 50px;
}

.card-name {
  font: 100% "Big Shoulders Display", cursive;
  font-size: 3.6rem;
  margin-top: 40px;
  letter-spacing: 0.2rem;
  color: #f2f2f2;
}

.card-info {
  font: 100% "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: rgba(255, 255, 255, 0.75);
  opacity: 0.7;
}

.card-icon {
  width: 68px;
}

.card-button {
  text-align: center;
  margin-top: 74px;
  padding: 16px 3px;
  background-color: #f2f2f2;
  font: 100% "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  border-radius: 40px;
  width: 80%;
  text-decoration: none;
}

.card:first-child {
  background-color: #e38826;
}

.card:first-child a {
  color: #e38826;
  border: 2px solid #e38826;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.card:first-child a:hover {
  background-color: #e38826;
  color: rgba(255, 255, 255, 0.75);
  border: 2px solid rgba(255, 255, 255, 0.75);
}

.card:nth-child(2) {
  background-color: #006970;
}

.card:nth-child(2) a {
  color: #006970;
  border: 2px solid #006970;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.card:nth-child(2) a:hover {
  background-color: #006970;
  color: rgba(255, 255, 255, 0.75);
  border: 2px solid rgba(255, 255, 255, 0.75);
}

.card:last-child {
  background-color: #004241;
}

.card:last-child a {
  border: 2px solid #004241;
  color: #004241;
  -webkit-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.card:last-child a:hover {
  background-color: #004241;
  color: rgba(255, 255, 255, 0.75);
  border: 2px solid rgba(255, 255, 255, 0.75);
}

/* responsive design */

@media only screen and (max-width: 800px) {
  .flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 60px 30px;
    max-width: 500px;
  }

  .card {
    padding: 60px;
  }

  .card-icon {
    width: 55px;
  }

  .card-name {
    font-size: 3.4rem;
    margin-top: 30px;
    letter-spacing: 0.2rem;
    color: #f2f2f2;
  }

  .card-info {
    font-size: 1.5rem;
    line-height: 2.4rem;
  }

  .card-button {
    text-align: center;
    margin-top: 40px;
    padding: 14px 2px;
    background-color: #f2f2f2;
    font: 100% "Lexend Deca", sans-serif;
    font-size: 1.6rem;
    border-radius: 50px;
    width: 75%;
    text-decoration: none;
  }
}

/* footer */

.footer {
  margin-top: 40px;
}